/*
* footer styles
*/
body {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
legend {
  display: block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;
  border: auto;
  border-bottom: none;
}
fieldset {
  border: 2px groove threedface;
  padding: 5px;
}
md-autocomplete {
  background: transparent !important;
}
.jyothi-cart {
  cursor: pointer;
}
#license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #666;
  background-color: #1C2B36;
  color: #fff;
}
md-input-container {
  margin: 10px 0 !important;
}
md-menu-divider {
  background-color: #ff9999 !important;
}
.page-title {
  font-size: 24px;
}
.login md-toolbar {
  background-color: #1C2B36 !important;
}
.login md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.login .login-container {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login .login-container .login-content {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7) !important;
  color: #000;
}
.login .login-container .login-content md-input-container label {
  color: #000;
}
.login .login-container .login-content md-input-container .md-input {
  color: #000;
}
.register md-toolbar {
  background-color: #1C2B36 !important;
}
.register md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.register .register-container {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.register .register-container .register-content {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7) !important;
  color: #000;
}
.register .register-container .register-content md-input-container label {
  color: #000;
}
.register .register-container .register-content md-input-container ._md-select-placeholder {
  color: #000;
  font-size: 14px;
}
.register .register-container .register-content md-input-container .md-input {
  color: #000;
}
.layout md-toolbar {
  background-color: #33435D !important;
}
.layout md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.layout .layout-container {
  /*background-image: url('../images/white-bg.jpeg');*/
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 570px;
}
.layout .layout-container .layout-main-content {
  background-color: transparent !important;
}
.layout .layout-container .side-nav {
  width: 220px;
  max-width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #33435D !important;
  box-shadow: 8px -2px 6px #888888;
}
.layout .layout-container .side-nav .left-nav-container .side-bar {
  width: 220px;
  max-width: 220px;
  background: #33435D !important;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content {
  background-color: #33435D !important;
  color: #fff;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content md-list {
  padding: 0;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content md-list-item:nth-of-type(even) {
  background-color: #3D4D67;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content .active-tab {
  background-color: #00AAE8 !important;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content i.fa {
  width: 20px;
  text-align: left;
}
.dashboard .dashboard-container .dashboard-cards {
  margin: 0;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}
.dashboard .dashboard-container .dashboard-cards:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 999;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 200ms ease-in;
  transform: scale(1.05);
}
.dashboard .dashboard-container .dashboard-cards .md-primary {
  color: #000;
}
.dashboard .dashboard-container .col-lightBlue {
  background-color: #00AAE8;
}
.dashboard .dashboard-container .col-lightBlue .md-headline {
  color: #fff;
}
.dashboard .dashboard-container .col-lightBlue .md-primary {
  color: #fff;
}
.dashboard .dashboard-container .col-darkBlue {
  background-color: #387AB7;
}
.dashboard .dashboard-container .col-darkBlue .md-headline {
  color: #fff;
}
.dashboard .dashboard-container .col-darkBlue .md-primary {
  color: #fff;
}
.bookings .bookings-list {
  border: 1px solid #ccc;
  margin: 10px 0;
  background-color: #00AAE8;
  color: #fff;
}
.bookings .bookings-list .download-icon {
  float: right;
  color: #fff !important;
}
.bookings .bookings-list .download-icon md-icon {
  color: #fff !important;
}
.domestic .cylender-icon {
  height: 100px;
  width: 100px;
}
.bookRefill .bookRefill-content {
  background: #FFE4C4 !important;
  border-radius: 8px;
}
.bookRefill .bookRefill-content md-input-container label {
  color: #333;
}
.bookRefill .bookRefill-content md-input-container .md-input {
  color: #333;
}
.dash-content-bg {
  margin: 0 auto;
  background: #00AAE8;
  color: #fff;
}
.price-table-container {
  background-color: #00AAE8;
}
.price-table-container .price-table th,
.price-table-container .price-table td {
  text-align: left !important;
  color: #fff !important;
}
.price-table-container .price-table th {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.remove-cart {
  cursor: pointer;
  position: relative;
  top: 8px;
}
.surrender .md-body-1 {
  text-align: justify;
  padding: 0 8px;
}
.surrender .md-body-2 {
  padding: 8px 8px 0 8px;
  font-weight: 700;
}
.safety-tips md-content {
  background-color: #00AAE8 !important;
  text-align: justify;
  color: #fff;
}
.safety-tips md-content .md-tab.md-active {
  color: #fff !important;
}
.jyothi-form label {
  font-size: 16px !important;
  color: #33435D !important;
}
.contact-dealer .md-body-2,
.update-page .md-body-2 {
  font-weight: 600;
  font-size: 16px;
}
.contact-dealer .md-body-1,
.update-page .md-body-1 {
  line-height: 24px;
}
.contact-dealer .update-form,
.update-page .update-form {
  margin: 0 auto;
}
.notifications .notification-title {
  cursor: pointer;
}
.kyc-table .docs-table th,
.kyc-table .docs-table td {
  text-align: center !important;
  color: #fff !important;
}
.kyc-table .docs-table th {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.jyothi-radio ._md-off {
  border-color: rgba(255, 255, 255, 0.7) !important;
}
.jyothi-radio ._md-on {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.grid {
  width: 100%;
  height: 450px;
}
