<md-toolbar ng-cloak ng-controller="HeaderCtrl" md-theme="altTheme">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
            <i class="material-icons">reorder</i>
        </md-button>
        <div>
            <img src="app/images/logo.jpeg" class="logo" ui-sref="login" style="width: 50px; height: 50px; border-radius: 50%;">
        </div>
        <span flex></span>
        <md-button ng-click="userLogout()">
            <div layout="row" layout-align="center center">
                <i class="material-icons">exit_to_app</i> &nbsp;&nbsp;&nbsp;
                <md-tooltip md-direction="bottom">
                    Logout
                </md-tooltip>
            </div>
        </md-button>
    </div>
</md-toolbar>
