<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="addsForm" class="jyothi-form">
                <div ng-show="!isNew">
                    <img src="http://www.devanga.org:9000/static/advertisement/{{user.imagePath}}" style="width: 200px;" />
                </div>
                <md-input-container md-no-float class="md-block">
                    <label class="col-sm-3">Image</label>
                    <div class="col-sm-9">
                        <input type="file" ngf-select ng-model="logo.image" ngf-max-size="10MB" name="file" accept="image/*" aria-label="logo">
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Advertisement Cost</label>
                    <input type="number" name="cost" ng-model="user.advertisementCost" required>
                    <div ng-messages="addsForm.cost.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Cost
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Add Type</label>
                    <md-select ng-model="user.advertisementType" name="addType" required>
                        <md-option value="Banner">Banner</md-option>
                    </md-select>
                    <div ng-messages="addsForm.addType.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter a Valid Add Type
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <div flex-gt-xs>
                        <h4>Start Date</h4>
                        <md-datepicker ng-model="user.startDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div flex-gt-xs>
                        <h4>End Date</h4>
                        <md-datepicker ng-model="user.endDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="addsForm.$invalid || isLoading" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
