<section layout="column">
    <div layout="row">
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
        <h2 class="md-title">{{headerText}}</h2>
    </div>
    <br/>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="eventsForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Event Name</label>
                    <input required name="eventName" ng-model="user.eventName">
                    <div ng-messages="eventsForm.eventName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.eventDescription" name="description" md-maxlength="150" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="eventsForm.description.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Hosted By</label>
                    <input required name="hostedBy" ng-model="user.hostedBy">
                    <div ng-messages="eventsForm.hostedBy.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid hostedBy
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <label>Start Date</label>
                        <md-datepicker ng-model="user.eventLaunchDate" md-placeholder="Enter date" required name="eventLaunchDate"></md-datepicker>
                        <div ng-messages="eventsForm.eventLaunchDate.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Enter valid Start Date
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label>End Date</label>
                        <md-datepicker ng-model="user.eventPostEndDate" md-placeholder="Enter date" required name="eventPostEndDate"></md-datepicker>
                        <div ng-messages="eventsForm.eventPostEndDate.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Enter valid EndDate
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-click="add()" ng-disabled="eventsForm.$invalid || isLoading">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
