<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="educationForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Name of Student</label>
                    <input required name="studentName" ng-model="user.name">
                    <div ng-messages="educationForm.studentName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input required name="address" ng-model="user.address">
                    <div ng-messages="educationForm.address.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid address
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Contact Number</label>
                    <input required name="contactNo" ng-model="user.phoneNumber" type="number">
                    <div ng-messages="educationForm.contactNo.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Contact Number
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.description" name="description" md-maxlength="5000" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="educationForm.description.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Current Education</label>
                    <input required name="education" ng-model="user.currentEducation">
                    <div ng-messages="educationForm.education.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Current Education Cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Merit Scored</label>
                    <input required name="merit" ng-model="user.merit">
                    <div ng-messages="educationForm.merit.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Merit scored cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Family Status</label>
                    <input required name="familyStatus" ng-model="user.familyStatus">
                    <div ng-messages="educationForm.familyStatus.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Family Status cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Family Annual Income</label>
                    <input required name="annualIncome" ng-model="user.familyAnnualIncome">
                    <div ng-messages="educationForm.annualIncome.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Annual Income cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="educationForm.$invalid||isLoading" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
