<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="galleryForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Images taken at</label>
                    <input required name="name" ng-model="gallery.galleryName">
                    <div ng-messages="galleryForm.name.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                 
                <md-input-container md-no-float class="md-block">
                    <label class="col-sm-3">Image</label>
                    <div class="col-sm-9">
                         <input type="file" ngf-select ng-model="logo.image" ngf-max-size="20MB" name="file" accept="image/*" aria-label="logo">
                         <!-- <input type="file" ngf-select ng-model="logo.image" ngf-max-size="10MB" name="file" accept="image/*" aria-label="logo">  -->
                    <!-- <input type="file" ngf-select file-model="fileToUpload" name="file"  ngf-max-size="20MB" accept="image/*" 
                   										aria-label="logo" ngf-multiple="true">  -->
				   </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="leaderForm.$invalid" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
