<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="jobsForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Job Name</label>
                    <input required name="jobName" ng-model="user.jobName">
                    <div ng-messages="jobsForm.jobName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Company Name</label>
                    <input required name="companyName" ng-model="user.companyName">
                    <div ng-messages="jobsForm.companyName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid company Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Eligibility</label>
                    <input required name="eligibility" ng-model="user.eligibility">
                    <div ng-messages="jobsForm.eligibility.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid eligibility
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.jobDescription" name="jobDescription" md-maxlength="150" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="jobsForm.jobDescription.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Job Link</label>
                    <input required name="jobLink" ng-model="user.jobLink">
                    <div ng-messages="jobsForm.jobLink.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Job Link Cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="jobsForm.$invalid" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
