<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="mandapamForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Name of KalyanaMandapam</label>
                    <input required name="name" ng-model="mandapam.kalyanaMandapamName">
                    <div ng-messages="mandapamForm.name.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Current Designation</label>
                    <input required name="kalyanaMandapamAddress" ng-model="mandapam.kalyanaMandapamAddress">
                    <div ng-messages="mandapamForm.kalyanaMandapamAddress.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Address
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="mandapam.kalyanaMandapamRent" name="kalyanaMandapamRent" md-maxlength="50" rows="1"
                    		 md-select-on-focus required></textarea>
                    <div ng-messages="mandapamForm.kalyanaMandapamRent.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid rent
                        </div>
                    </div>
                </md-input-container>
                  <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="mandapam.kalyanaMandapamContactInfo" name="kalyanaMandapamContactInfo" md-maxlength="50" rows="1"
                    		 md-select-on-focus required></textarea>
                    <div ng-messages="mandapamForm.kalyanaMandapamContactInfo.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Contact Info
                        </div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <label class="col-sm-3">Image</label>
                    <div class="col-sm-9">
                        <input type="file" ngf-select ng-model="logo.image" ngf-max-size="10MB" name="file" accept="image/*" aria-label="logo">
                    </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="mandapamForm.$invalid" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
