<section layout="column">
    <div>
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <h2 class="md-title page-title">{{headerText}}</h2>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="leaderForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Name of Leader</label>
                    <input required name="name" ng-model="user.name">
                    <div ng-messages="leaderForm.name.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Current Designation</label>
                    <input required name="currentDesignation" ng-model="user.currentDesignation">
                    <div ng-messages="leaderForm.currentDesignation.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Designation
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.description" name="description" md-maxlength="5000" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="leaderForm.description.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <label class="col-sm-3">Image</label>
                    <div class="col-sm-9">
                        <input type="file" ngf-select ng-model="logo.image" ngf-max-size="10MB" name="file" accept="image/*" aria-label="logo">
                    </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-disabled="leaderForm.$invalid" ng-click="add()">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
