<section layout="column">
    <div layout="row">
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
        <h2 class="md-title">{{headerText}}</h2>
    </div>
    <br/>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="oldAgeForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Name of Old Age Home</label>
                    <input required name="oldAgeHomeName" ng-model="user.name">
                    <div ng-messages="oldAgeForm.oldAgeHomeName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input required name="address" ng-model="user.address">
                    <div ng-messages="oldAgeForm.address.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid address
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Contact Number</label>
                    <input required name="contactNo" ng-model="user.phoneNumber" type="number" >
                    <div ng-messages="oldAgeForm.contactNo.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Contact Number
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.description" name="description" md-maxlength="5000" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="oldAgeForm.description.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>No of People</label>
                    <input required name="noOfPeople" ng-model="user.noOfPeople" type="number" integer/>
                     <span ng-show="oldAgeForm.noOfPeople.$error.integer">The value is not a valid integer!</span>
                    <div ng-messages="oldAgeForm.noOfPeople.$error" role="alert">
                        <div ng-message-exp="['required']">
                            No of People Cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Govt Id</label>
                    <input required name="govtId" ng-model="user.oldageHomeGovtId">
                    <div ng-messages="oldAgeForm.govtId.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Govt Id cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                	<span flex></span>
                	<md-button class="md-primary md-raised" ng-click="add()" ng-disabled="oldAgeForm.$invalid || isLoading">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
