<section layout="column">
    <div layout="row">
        <md-button ng-click="back()" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
        <h2 class="md-title">{{headerText}}</h2>
    </div>
    <br/>
    <div layout="row">
        <span flex="10"></span>
        <md-content class="md-padding md-whiteframe-8dp" layout="column" flex="80">
            <form name="patientForm" class="jyothi-form">
                <md-input-container class="md-block">
                    <label>Name of Patient</label>
                    <input required name="patientName" ng-model="user.name">
                    <div ng-messages="patientForm.patientName.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Name
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input required name="address" ng-model="user.address">
                    <div ng-messages="patientForm.address.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid address
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Contact Number</label>
                    <input required name="contactNo" ng-model="user.phoneNumber">
                    <div ng-messages="patientForm.contactNo.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid Contact Number
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="user.description" name="description" md-maxlength="5000" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="patientForm.description.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Enter valid description
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Patient Disease</label>
                    <input required name="disease" ng-model="user.suffereingFromdisease">
                    <div ng-messages="patientForm.disease.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Disease Cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Current Health Condition</label>
                    <input required name="healthCondition" ng-model="user.currentHealthCondition">
                    <div ng-messages="patientForm.healthCondition.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Current Health Condition cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <!-- <md-input-container class="md-block">
                    <label>Family Status</label>
                    <input required name="familyStatus" ng-model="user.familyStatus">
                    <div ng-messages="patientForm.familyStatus.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Family Status cannot be empty
                        </div>
                    </div>
                </md-input-container> -->
                <md-input-container class="md-block">
                    <label>Patient Age</label>
                    <input required name="patientAge" ng-model="user.patientAge">
                    <div ng-messages="patientForm.patientAge.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Patient Age cannot be empty
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                	<span flex></span>
                	<md-button class="md-primary md-raised" ng-click="add()" ng-disabled="patientForm.$invalid || isLoading">{{buttonText}}</md-button>
                </div>
            </form>
        </md-content>
        <span flex="10"></span>
    </div>
</section>
