<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Advertisement</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addAdvertisements">Add Add</md-button>
    </div>
    <div class="row">
        <div class="col-md-6" ng-repeat="user in adds">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{user.imagePath}}" alt="{{user.advertisementType}}" class="img-responsive" style="width: 100px; height: 100px;" />
                        </div>
                        <div class="col-md-8">
                            <h6>{{user.advertisementType}}</h6>
                            <p style="font-size: 12px;">Cost: {{user.advertisementCost}}</p>
                            <p style="font-size: 12px;">Start Date: {{user.startDate | date:'MM/dd/yyyy'}}  End Date:{{user.endDate | date:'MM/dd/yyyy'}}</p>
                       	<md-button class="md-primary" ng-click="editAdvertisement(user)">Edit</md-button>
                    	<md-button class="md-primary" ng-click="delete($event, user)">Delete</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


