<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Education</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addEducation">Add Education</md-button>
    </div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in educationArr">
            <div class="md-list-item-text" layout="column">
                <h3>Name is : {{ item.name }}</h3>
                <p>Address: {{ item.address }}</p>
                <p>Description: {{ item.description}}</p>
                <p>Education: {{item.currentEducation}}</p>
                <p>Merit: {{item.merit}}</p>
                <div class="md-secondary">
                    <p>Phone: {{item.phoneNumber}}</p>
                    <p>Family Income: {{item.familyAnnualIncome}}</p>
                    <md-button class="md-primary" ng-click="edit(item)"><i class="material-icons">edit</i></md-button>
                    <md-button class="md-warn" ng-click="delete($event, item)"><i class="material-icons">delete</i></md-button>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
