<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Events</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addEvents">Add Event</md-button>
    </div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in events">
            <div class="md-list-item-text" layout="column">
                <h3>Event Name: {{ item.eventName }}</h3>
                <p>Description: {{ item.eventDescription }}</p>
                <p>Launch Date: {{item.eventLaunchDate}}</p>
                <p>Posted Date: {{item.eventPostDate}}</p>
                <div class="md-secondary">
                    <p>Hosted By: {{item.hostedBy}}</p>
                    <md-button class="md-primary md-icon-button" ng-click="edit(item)"><i class="material-icons">edit</i></md-button>
                    <md-button class="md-warn md-icon-button" ng-click="delete($event, item)"><i class="material-icons">delete</i></md-button>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
