<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Gallery</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addGallery">Add Gallery</md-button>
    </div>
    <div class="col-md-6" ng-repeat="image in images">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{image.imagePath}}"  class="img-responsive" style="width: 100px; height: 100px;" />
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
</section>
