<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Jobs</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addJobs">Add Jobs</md-button>
    </div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in jobsArr">
            <div class="md-list-item-text" layout="column">
                <h3>Name: {{ item.jobName }}</h3>
                <p>Company Name: {{ item.companyName }}</p>
                <p>Description: {{ item.jobDescription }}</p>
                <p>eligibility: {{item.eligibility}}</p>
                <p>Job Link: {{item.jobLink}}</p>
            </div>
            <div class="md-secondary">
                <md-button class="md-primary md-icon-button" ng-click="edit(item)"><i class="material-icons">edit</i></md-button>
                <md-button class="md-warn md-icon-button" ng-click="delete($event, item)"><i class="material-icons">delete</i></md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
