<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Mandapas</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addKalyanamandapas">Add Kalyana Mandapas</md-button>
    </div>
    
     <div layout="row" layout="start center">
        <h4 class="md-title">Leaders</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="addLeaders">Add Leader</md-button>
    </div>
    
    
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in kalyanaMandapas">
            <img ng-src="{{item.imagePath}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>Name: {{ item.kalyanaMandapamName }}</h3>
                <p>Address: {{ item.kalyanaMandapamAddress }}</p>
                <p>Rent: {{item.kalyanaMandapamRent}}</p>
                 <p>Contact Information: {{item.kalyanaMandapamContactInfo}}</p>
            </div>
            <div class="md-secondary">
                <md-button class="md-primary md-icon-button" ng-click="edit(item)"><i class="material-icons">edit</i></md-button>
                <md-button class="md-warn md-icon-button" ng-click="delete($event, item)"><i class="material-icons">delete</i></md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
