<div layout="column" tabindex="-1" role="main" flex="" class="login">
    <md-toolbar class="md-whiteframe-glow-z1">
        <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
            Community
        </div>
    </md-toolbar>
    <md-content md-scroll-y="" layout="column" flex="" class="login-container">
        <div layout-padding flex="noshrink" style="margin:20px 0;">
            <div class="layout-content">
                <section layout="row" layout-align="end end">
                    <md-content flex="50" layout-padding class="login-content md-whiteframe-8dp">
                        <h1 class="md-title">SIGN IN</h1>
                        <md-divider></md-divider>
                        <form name="loginForm" autocomplete="off">
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input required name="userName" ng-model="user.username">
                                <div ng-messages="loginForm.userName.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        Enter valid email address
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input required type="password" name="userPassword" ng-model="user.password" />
                                <div ng-messages="loginForm.userPassword.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        Enter valid Password
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <div layout="row" layout-align="center center">
                                    <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid || disableLogin" style="width:50%;" ng-click="validateuser()">Sign In
                                    </md-button>
                                </div>
                            </md-input-container>
                        </form>
                    </md-content>
                </section>
            </div>
        </div>
        <div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row">
            <div id="license-footer" flex="" class="ng-binding flex">
                Powered by Devanga ©2014–2016.
            </div>
        </div>
    </md-content>
</div>
