<section layout="column" layout-padding>
    <div layout="row" layout="start center">
        <h4 class="md-title">Old Age Home</h4>
        <span flex></span>
        <md-button class="md-primary" ui-sref="AddOldAgeHome">Add</md-button>
    </div>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in oldAgeArr">
            <div class="md-list-item-text" layout="column">
                <h3>Name: {{ item.name }}</h3>
                <p>Address: {{ item.address }}</p>
                <p>Description: {{ item.description }}</p>
                <p>No of People: {{item.noOfPeople}}</p>
                <div class="md-secondary">
                    <p>Phone: {{item.phoneNumber}}</p>
                    <p>Govt Id: {{item.oldageHomeGovtId}}</p>
                    <md-button class="md-primary md-icon-button" ng-click="edit(item)"><i class="material-icons">edit</i></md-button>
                    <md-button class="md-warn md-icon-button" ng-click="delete($event, item)"><i class="material-icons">delete</i></md-button>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
